{{!< default}}
<div class="gh-head-hero">
    <section class="p-about-outer">
        <div>
            <h1>A propos de la <span class="keyword">SFNG</span> </h1>
        </div>
    </section>
</div>

{{#post}}

<main>
    <article class="gh-article {{post_class}}">

        <section class="gh-content gh-canvas">
            {{content}}
        </section>

    </article>
</main>

{{/post}}
